.navbarItems {
  background-color: grey;
  color: white;
  height: 80px;
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: 1rem;
}

li {
  border: solid white 1px;
  border-radius: 10px;
  padding: 10px;
  margin: 7px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  background-color: inherit;
}
